<!DOCTYPE html>
<html ng-app="gemStore"> <!-- Runs the store module when the DOM loads -->
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist 3/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="custom.css"></link>
	</head>
	<body ng-controller="StoreController as store">
		<!-- Indicates that ng-controller runs the JS for DOM -->
		<div class="header">
			<h1>{{"Quincy's Magic Rock Emporium"}}</h1>
		</div>
			<div class="list-group-item" ng-show="!store.product.soldOut" id="products" ng-repeat="product in store.products">
				<!-- If the product is sold out, it will not appear in store (var gems), and at a later point in the assignment, we have made this a very handy looped array for populating dem virtual shelves. -->
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<p>{{product.description}}</p>
				<!-- If the product cannot be purchased, button will not appear, (var gems) -->
				
					<div class="gallery">
						<img ng-src="{{product.images[0]}}"/>
					</div>
					<ul class="img-thumbnails clearfix" id="thumbs">
						<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image}}"/>
						</li>
					</ul>

				<button ng-show="product.canPurchase">Add to Cart</button>

				<section ng-controller="TabController as tabs">
				<ul class="nav nav-pills">
					<!-- ng class allows us to specify the active tab 
					based on click event -->
					<li ng-class="{ active: tabs.isSet(1)}"> 
						<a href ng-click="tabs.selectTab(1)">Description</a> 
					</li>
					<li ng-class="{ active: tabs.isSet(2)}"> 
						<a href ng-click="tabs.selectTab(2)">Specifications</a> 
					</li>
					<li ng-class="{ active: tabs.isSet(3)}"> 
						<a href ng-click="tabs.selectTab(3)">Reviews</a> 
					</li>
				</ul>
				<!-- each panel corresponds, via ng-show, to a specific click even in the nav-pills class, and ng-init forces a specific tab to show upon refresh -->
				<div class="panel" ng-show="tabs.isSet(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="tabs.isSet(2)">
					<h4>Specifications</h4>
					<p>{{product.specifications}}</p>
				</div>
				<div class="panel" ng-show="tabs.isSet(3)">
					<h4>Reviews</h4>
					<p>{{product.reviews}}</p>
				</div>
			</section>


			</div>
			



		<!-- Moved Scripts to bottom of page for fastest loading -->
		<script type="text/javascript" src="angular.min.js"></script>
		<!-- ref to my webapp -->
		<script type="text/javascript" src="app.js"></script> 

	</body>
</html>
