<!DOCTYPE html>
<html>	

	<section>
		<ul class="nav nav-pills">
			<!-- ng class allows us to specify the active tab 
			based on click event -->
			<li ng-class="{ active: panel.isSelected(1)}"> 
			<a href ng-click="panel.selectTab(1)">Description</a> 
			</li>
			<li ng-class="{ active: panel.isSelected(2)}"> 
			<a href ng-click="panel.selectTab(2)">Specifications</a> 
			</li>
			<li ng-class="{ active: panel.isSelected(3)}"> 
			<a href ng-click="panel.selectTab(3)">Reviews</a> 
			</li>
		</ul>
		<!-- each panel corresponds, via ng-show, to a specific click even in the nav-pills class, and ng-init forces a specific tab to show upon refresh -->
		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<p>{{product.description}}</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Specifications</h4>
			<p>{{product.specifications}}</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<ul>
				<h4>Reviews</h4>
				<li ng-repeat="review in product.reviews">
				
					<blockquote>
						<strong> {{review.stars}} Stars</strong>
						{{review.body}}
						<cite class="clearfix">- {{review.author}}</cite>
					</blockquote>
				</li>
			</ul>

			<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
				<!-- Supposedly a live preview -->
					<blockquote>
						<strong>{{reviewCtrl.review.stars}} Stars</strong>
						{{reviewCtrl.review.body}}
						<cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
					</blockquote>
					<!-- Review Form -->
					<h4>Submit a Review</h4>
					<fieldset class="form-group">
						<select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" ng-model="reviewCtrl.review.stars" required>
							<option value="">Rate the Product</option>
						</select>
					</fieldset>
					<fieldset class="form-group">
						<textarea class="form-control" placedholder="Please write a short review..." title="Review" ng-model="reviewCtrl.review.body" required></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="email" class="form-control" placeholder="jimmy@johns.com" title="Email" ng-model="reviewCtrl.review.author" required/>
					</fieldset>
					<div> reviewForm is {{reviewForm.$valid}} </div>
					<fieldest class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
					</fieldset>

		</div>
	</section>
</html>